{% extends "layout.html" %}

{% block title %}Green Dream: Home{% endblock %}

{% block main %}

<div class="main">
    <div class="content">
        <h1>Save Your World</h1>
        <p>WELCOME TO GREEN DREAM</p>
        <span>Think smart,Think green!</span>
        <br>
        <br>
       <button class="cn"><a href="/register">JOIN US</a></button> 
    </div>
</div>
<br>
<section class="cards" id="services">
    <br>
    <h1 class="title">How to use our website? </h1>
    <div class="content1">
        <div class="card">
            <div class="icon">
              <ion-icon name="car-sport-outline"></ion-icon>
            </div>
            <div class="info">
                <h3>Send The Request</h3>
            </div>
        </div>
        <div class="card">
            <div class="icon">
              <ion-icon name="desktop-outline"></ion-icon>               
             </div>
            <div class="info">
                <h3>Create Your Account</h3>
            </div>
        </div>
    </div>
 </section>
 


<section class="cards contact" id="contact1">
    <h1 class="title">Let's Work Together</h1>
    <div class="content1">
        <div class="card">
            <div class="icon">
                <i class="fas fa-phone"></i>
            </div>
            <div class="info">
                <h3>Phone</h3>
                <p>+201026386402</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="info">
                <h3>Email</h3>
                <p>greendream@gmail.com</p>
            </div>
        </div>
    </div>
</section>

 <!--          About        -->
<div class="Sec" id="About">
    <div class="cont">
       <div class="title">
        <h1>About Us</h1>
       </div>
       <div class="content2">
         <div class="article">
            <h3>We are some pioneers who are keen on the environment and this website is for waste in general.</h3>
            <h3>It was created to help people get rid of their waste rapidly and safely for the sake of you and the environment.</h3>
         </div>
       </div>
       <div class="image-Sec">
        <img src="../static/img/pic3.jpg">
       </div>

    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}